.form-data__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
.form-data__label {
    margin-bottom: 4px;
    @include font(12px, 1.17);
    letter-spacing: 0.01em;
  
    color: $second-text-color;
}
  
.form-data__block {
    position: relative;
}
  
.form-data__input {
    width: 100%;
    margin: 0;
    padding: 11px;
    padding-left: 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    transition: border-color $duration $timing-function;
  
    &:focus {
      border-color: $accent-color;
    }
}
  
.form-data__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: currentColor;
    transform: translateY(-50%);
  
    transition: fill $duration $timing-function;
}
  
.form-data__input:focus + .form-data__icon {
    fill: $accent-color;
}
  
.form-data__input--comment {
    padding: 12px 16px;
    resize: none;
  
    &::placeholder {
      @include font(12px, 1.17);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
}
  
.form-data__policy {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    @include font(12px, 1.17);
    color: $second-text-color;

    @include for-size(desktop) {
    @include font(inherit, inherit);
  }
}
  
.form-data__policy-label {
    color: $second-text-color;
}
  
.form-data__policy-label--accent {
    color: $accent-color;
}
  
.form-data__checkbox-custom {
    display: inline-block;
    margin-right: 8px;
    vertical-align: text-top;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.form-data__checkbox:checked ~ .form-data__checkbox-custom {
    background-color: $accent-color;
    background-image: url(../images/svg/checkbox.svg);
    border-color: transparent;
    background-origin: border-box;
    box-shadow: none;
}