.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;

  @include for-size(tablet) {
     @include flexbox(center);
     padding-bottom: 30px;
  }

   @include for-size(desktop) {
     padding-bottom: 50px;
  }
}

.portfolio-nav__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

   @media screen and (max-width: $tablet - 1) {
     &:nth-last-child(n + 3) {
      margin-bottom: 15px;
    }
  }
}

.portfolio-nav__button {
  display: inline-block;
  // min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  color: $main-text-color;
  background-color: $secohd-bg-color;
  @include font(16px, 1.62, 500);
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $main-bg-color;
    background-color: $accent-color;
  }
}