body {
    background-color: $main-bg-color;
    color: $main-text-color;
    font-family: $main-font;
    @include font(14px, 1.71);
    letter-spacing: 0.03em;
  }
  
  img,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
