.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    @include for-size(desktop) {
        padding-top: 94px;
        padding-bottom: 0;
    }
}

.feature-list {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
}
  
.feature-list__item {
    @media screen and (max-width: $tablet - 1) {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
        flex-basis: calc((100% - 1 * 30px) / 2);
        &:nth-child(odd) {
          margin-right: 30px;
        }
        &:nth-last-child(n + 3) {
          margin-bottom: 30px;
        }
    }
    
    @include for-size(desktop) {
        flex-basis: calc((100% - 3 * 30px) / 4);
    
        &:not(:last-child) {
          margin-right: 30px;
        }
    }
}
  
.feature-list__thumb {
    @include flexbox(center, center);
    margin-bottom: 30px;
    height: 120px;
    background-color: $secohd-bg-color;
    border-radius: 4px;
}
  
.feature-list__icon {
    width: 70px;
    height: 70px;
}
  
.feature-list__title {
    margin-top: 0;
    margin-bottom: 10px;
  
    @include font(14px, 1.14, 700);
    text-transform: uppercase;
    
    @media screen and (max-width: $tablet - 1) {
        text-align: center;
    }
}
  
.feature-list__text {
    margin-top: 0;
    margin-bottom: 0;
  
    color: $second-text-color;
}