.team-list {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);  
  background-color: $main-bg-color;
  
  @media screen and (max-width: $tablet - 1) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    flex-basis: calc((100% - 1 * 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(n + 3) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
  
.team-list__title {
    margin-top: 30px;
    margin-bottom: 10px;
  
    @include font(16px, 1.19, 500);
}
  
.team-list__text {
    margin-top: 0;
    margin-bottom: 16px;
  
    @include font(16px, 1.19);
    color: $second-text-color;
}