.team-list__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    background-color: $main-bg-color;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
}
  
.team-list__title {
    margin-top: 30px;
    margin-bottom: 10px;
  
    @include font(16px, 1.19, 500);
}
  
.team-list__text {
    margin-top: 0;
    margin-bottom: 16px;
  
    @include font(16px, 1.19);
    color: $second-text-color;
}